@font-face {
  font-family: 'youth power';
  src: url(fonts/Youth\ Power.ttf);
}
@font-face {
  font-family: 'louis george cafe';
  src: url(fonts/Louis\ George\ Cafe\ Light.ttf);
}

h1 { color: mediumturquoise;
  font-family: Arial, Helvetica, sans-serif;

}
h2 { color: mediumturquoise;
  font-family: Arial, Helvetica, sans-serif;

}
h3 { color: mediumturquoise;
  font-family: Arial, Helvetica, sans-serif;

}
.box_lt{
  height: 100%;
  width: 22%;
  background-color: #0A1E3F;
  padding: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 10px;
}

.images{
  display: flex;
  justify-content: center;
}

.images img{
  margin: 5px auto;
  border-radius: 50%;
  background: rgb(248, 246, 246);
  height: 153px;
}
.hoby-container {width: 300px;
  padding: 5px;
  margin: 5px auto;
}

/* font */
.box_lt h1{
  font-family: 'youth power';
  padding-left: 63px;
}
.box_1 h1{
  font-size: 55px;
  font-family: 'youth power';
  color: rgb(255, 255, 255);
}
.container{
  display: flex;
  height: 100%;
}
.box_1 p{
  font-family: 'louis george cafe';
  text-align:start;
  color: rgb(255, 255, 255);
}
.box_1{
  width: 65%;
  background-color: #0A1E3F;
  padding: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 10px;
  height: 30%;
}

.box_2{
  background-color: #0A1E3F;
  padding: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 10px;
  width: 25%;
  height: 280%;
}
.divider{
  display: flex;
  flex-direction: column;

}
.container_2{
  display: flex;
}
.box_3{
  background-color: #0A1E3F;
  padding: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 10px;
  width: 36%;
  height: 280%;
}
.container_3{
  display: flex;
  margin-top: 21%;
}
.box_4{
  background-color: #0A1E3F;
  padding: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 10px;
  width: 36%;
  height: 208%;
}
.box_5{
  background-color: #0A1E3F;
  padding: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 10px;
  width: 25%;
  height: 208%;
}
